.content {
  margin: auto;
}
.row {
  display: flex;
}
.left {
  width: 30%;
  text-align: center;
}
.center {
  width: 30%;
}
.right {
  width: 30%;
  text-align: center;
}
table.info {
    margin-left:auto;
    margin-right:auto;
    border: 1px solid black;
    border-collapse: collapse;
    width: 50%;
    height:40px;
}
table.info td {
    height: 14px;
    border: 1px solid black;
   border-collapse: collapse;
};
nav ul {
    height:720px;
}
nav ul {
    overflow: hidden;
    overflow-y: scroll;
}
nav li {
    list-style: none;
}
.table {
  width: 100%;
  border-spacing: 0;
}
.table td {
  width: 12.5%;
  position: relative;
}
.table td:after {
  content: '';
  display: block;
  margin-top: 100%;
}
td .square {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
td .grey_square {
  background: grey;
}
td .white_square {
  background: white;
}
td .piece {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-repeat: no-repeat;
  background-size: cover;
}
td .WHITE-KING {
  background-image: url("icons/white/king.svg");
}
td .BLACK-KING {
  background-image: url("icons/black/king.svg");
}
td .WHITE-QUEEN {
  background-image: url("icons/white/queen.svg");
}
td .BLACK-QUEEN {
  background-image: url("icons/black/queen.svg");
}
td .WHITE-ROOK {
  background-image: url("icons/white/rook.svg");
}
td .BLACK-ROOK {
  background-image: url("icons/black/rook.svg");
}
td .WHITE-BISHOP {
  background-image: url("icons/white/bishop.svg");
}
td .BLACK-BISHOP {
  background-image: url("icons/black/bishop.svg");
}
td .WHITE-KNIGHT {
  background-image: url("icons/white/knight.svg");
}
td .BLACK-KNIGHT {
  background-image: url("icons/black/knight.svg");
}
td .WHITE-PAWN {
  background-image: url("icons/white/pawn.svg");
}
td .BLACK-PAWN {
  background-image: url("icons/black/pawn.svg");
}