<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">
<head>
    <title>Chess Board</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="../style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js" integrity="sha256-xNjb53/rY+WmG+4L6tTl9m6PpqknWZvRt0rO1SRnJzw=" crossorigin="anonymous"></script>
    <script type="text/javascript">
        $(function() {
          $(".piece").draggable({
              revert: "invalid",
              stack: ".empty",
              distance: 0
          });
          $(".square").droppable({
            accept: ".piece",
            drop: function(e, ui) {
                var piece_name = $(ui.draggable[0]).attr('name').split('-');
                var piece_rank = $($(ui.draggable[0]).parent()[0]).attr('data-rank');
                var piece_file = $($(ui.draggable[0]).parent()[0]).attr('data-file');

                var move_to_rank = $(this).attr('data-rank');
                var move_to_file = $(this).attr('data-file');

                var piece = { color: piece_name[0], piece: piece_name[1], rank: piece_rank, file: piece_file };

                $.ajax({
                    url: "/api/move?rank=" + move_to_rank + "&file=" + move_to_file,
                    type: "post",
                    dataType: "json",
                    data: JSON.stringify(piece),
                    contentType: "application/json; charset=UTF-8"
                }).then(function(data) {
                   $('ul').append('<li>' + data.description + '</li>')
                });

              ui.draggable.appendTo($(this)).css({
                top: "0em",
                left: "0em"
              });
            }
          });
        });
    </script>
</head>
<body>
<div class="content">
<div class="row">
    <div class="left">
    <table class="table">
        <tr th:each="rank,i: ${squares}">
            <td th:each="square,j: ${rank}">
                <div th:class="square" th:classappend="${(i.index + j.index) % 2 == 0} ? 'white_square' : 'grey_square'" th:attr="data-rank=${i.index},data-file=${j.index}">
                    <div th:name="${square}" th:class="${square ne null} ? 'piece' : 'empty'" th:classappend="${square}" ></div>
                </div>
            </td>
        <tr>
    </table>
    </div>
    <div class="right">
    <nav name="moves">
        <ul>
        </ul>
    </nav>
    </div>
</div>
</div>
</body>
</html>